$fontLogo: 'Montserrat', sans-serif;
$fontContent: 'Raleway', sans-serif;
$colorWhite: rgb(255, 255, 255);
$colorBlack: rgb(0, 0, 0);
$colorHeaderFooter: rgb(200, 178, 164);
$colorAbout: rgba(189, 143, 128, 0.6);
$colorFrame: rgba(134, 85, 69, 0.7);
$colorOffer: rgba(198, 157, 144, 0.7);
$colorFreeAdvice: rgba(198, 157, 144, 0.4);
$colorSignUp: rgba(134, 85, 69, 0.7);
$colorButton: rgba(124, 75, 61, 0.8);
$colorBroun: rgb(80, 49, 40);
$colorHeaderName: rgb(88, 65, 44);
